

.Ad-container{
    height: 30rem;
    width: 50rem;
    background-color: rgb(22, 20, 20);
    margin: 50px;
    overflow: hidden;
    border-left: 2rem dotted rgb(73, 72, 71);
}

.Ad-top{

    height: 20rem;
    width: 250rem;
    /* background-color: rgb(73, 120, 160); */
    /* padding: 15px; */
    display: flex;
    animation-name: Scroll-Ad-Top;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    

}

.Ad-top-items{

    height: 18rem;
    width: 48rem;
    /* background-color: rgb(204, 46, 7); */
    margin: 15px;
    border-radius: 5px;


}

.Ad-top-items-img-1{

    background-image: url('../PictureContent/scrol1.jpeg');
    background-size: cover;

}

.Ad-top-items-img-2{
    
    background-image: url('../PictureContent/scrol2.jpg');
    background-size: cover;

}


.Ad-top-items-img-3{
    
    background-image: url('../PictureContent/scrol3.jpg');
    background-size: cover;

}


.Ad-top-items-img-4{
    
    background-image: url('../PictureContent/scrol4.jpg');
    background-size: cover;

}

.Ad-top-items-img-5{
    
    background-image: url('../PictureContent/scrol1.jpeg');
    background-size: cover;

}


@keyframes Scroll-Ad-Top{

    25%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -400%;
    }
}


.Ad-bottom{

    height: 10rem;
    width: 250rem;
    background-color: rgb(44, 42, 42);
    display: flex;
    animation-name: Scroll-Ad-Bottom ;
    animation-duration: 150s;
    animation-iteration-count: infinite;

}
.item1{
    background-image: url('../PictureContent/scrol3.jpg');
}

.item2{
    background-image: url('../PictureContent/scrol1.jpeg');
}
.item3{
    background-image: url('../PictureContent/scrol2.jpg');
}
.item4{
    background-image: url('../PictureContent/scrol5.jpg');
}

@keyframes Scroll-Ad-Bottom {

    25%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -400%;
    }
    


}



.Ad-bottom-items{
    height: 7rem;
    width: 11rem;
    /* background-color: rgb(37, 15, 136); */
    margin-left: 1.2rem ;
    margin-top: 1.5rem ;
    background-size: cover;
    border-radius: 4px;

}