.Login-Container{
    background-color: #B762C1;
    height: 30rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 0.5rem;
    padding-top: 2rem;
    margin-top: -2000px;
}

.Login-Container::after{
  background-color: initial;
  background-image: linear-gradient(rgb(255, 255, 255) 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 0.5rem;
  content: "";
  height: 80%;
  left: 0%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 100%;
}

.Login-Page-Logo{
    height: 15rem;
    width: 15rem;
    border-radius: 15rem;
    /* background-color: aliceblue; */
    margin-right: auto;
    margin-left: auto;
    background-image: url('../PictureContent/LoginLogo.jpg');
    background-size: cover;
}

.Login-User-Input{

    height: 10rem;
    width: 100%;
    /* background-color: aliceblue; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;

}



.Account-Qsn-PopUp{
    margin-left: 0px;
    margin-top: -110px;
    /* background-color: white; */
    text-align: center;
    color:  rgb(204, 186, 186);
    cursor: pointer;
}

.Account-Qsn-PopUp:hover{
    color: #750550;
}


.Cancel{

    color:  rgb(204, 186, 186);

}
.Cancel:hover{
    color: blue;
    cursor: pointer;
}